<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>934018350706-9ub7ndrb8jjqenc08hs73a9o4fjj3p1o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934018350706-9ub7ndrb8jjqenc08hs73a9o4fjj3p1o</string>
	<key>API_KEY</key>
	<string>AIzaSyDn83dhje309pwXpJFTh6yI7CLTBKGwDGA</string>
	<key>GCM_SENDER_ID</key>
	<string>934018350706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.matherly.votingapp</string>
	<key>PROJECT_ID</key>
	<string>voting-app-47786</string>
	<key>STORAGE_BUCKET</key>
	<string>voting-app-47786.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934018350706:ios:9950a5f599e4d2048e8ceb</string>
	<key>DATABASE_URL</key>
	<string>https://voting-app-47786.firebaseio.com</string>
</dict>
</plist>